/* Suggested Color Palette for picture 
Navy: #040450
Slate Gray: #666674
Silver: #b6b6b6
Dim Gray: #565656
Black: #050505
*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Neucha');
/* Body affecting styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #565656; */
  background-image: url('../img/black-and-white-abstract-background-1520875246AFG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color:#ebd4cb;
}

/* Header styling */
header {
  background-color: #cf5c36;
  color: #f4e3b2;
  width: 960px;
  margin: 0px auto;
  padding-top: 5px;
  text-align: center;
}
header h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  margin: 0;
  text-shadow: 5px 5px #020202;
}
header h3{
font-family: 'Neucha', cursive;
}
nav {
  background-color: #0d0d0e;
}

nav ul {
  list-style: none;
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

ul a {
  color: #f4e3b2;
  text-decoration: none;
}

/* Main element styling */
main {
  width: 960px;
  margin: 0px auto;
  text-align: center;
}

main ul {
  list-style: none;
}

main ul li {
  line-height: 1.5em;
  font-family: 'Neucha', cursive;
  font-size: 20px;
}

main h3{
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px #0d0d0e;
  font-size: 30px;
  color: #cf5c36;
}

.gameContainer {
  position: relative;
}

img {
  width: 400px;
  position: relative;
  text-shadow: 5px 5px lightgrey;
}

section {
  position: relative;
}

progress {
  display: block;
  background: none;
  margin: 0px auto;
  transform: rotate(90deg);
  float: right;
  position: absolute;
  top: 150px;
  left: 750px;
  height: 75px;
  border-radius: 50px;
  padding: 15px 0px 0px 0px;
  text-align: left;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
#hate-meter-footer{
  display: block;
  width: 50px;
  margin: 0;
  bottom: 200px;
  right: 125px;
  float: right;
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  color: #cf5c36;
  text-shadow: 2px 2px #0d0d0e;
}


progress::-webkit-progress-bar {
  background-color: #d42a2a;
  border-radius: 5px;
}
progress::-webkit-progress-value {
  background-color: black;
  border-radius: 5px;
}

#question-remaining-section {
  position: absolute;
  top: 150px;
  left: 100px;
  float: left;
  max-width: 100px;
  margin: 0px auto;
  text-align: center;
}

#hateballResponse {
  position: absolute;
  top: 125px;
  left: 420px;
  word-wrap: break-word;
  text-align: center;
  width: 125px;
  height: 100px;
  font-family: 'Bangers', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  color: #efc88b;
}

#userQuestion {
  margin: 20px 5px 0px 5px;
}

#submit {
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: 'Permanent Marker', cursive;
}

#proceed {
  display: none;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 80px;
}

.buttons {
  background-color: #0d0d0e;
  color:#cf5c36;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

/* Footer styling */
footer {
  clear: both;
  width: 960px;
  margin: 0px auto;
  background-color:#cf5c36;
  padding: 10px 0px;
  text-align: center;
  color: #efc88b;
}

/* Styling for Results page only */
fieldset {
  margin: 10px;
}
#playAgain a {
  color: white;
  text-decoration: none;
}

#anagramGratzBox {
  display: none;
  width: 900px;
  height: 120px;
  margin: 0px auto;
  margin-bottom: 20px;
  background-color: #d42a2a;
}

#anagramGratzText {
  text-align: center;
  padding: 15px;
} 

#anagramResult {
  font-size: 50px;
}

#hintParagraph {
  line-height: 1.5em;
}



/* Styling for AboutUs page only */
.aboutUs {
  margin: 0px auto;
  padding: 0px;
}

#aboutUsParagraph {
  width: 800px;
  margin: 0px auto;
  margin-bottom: 20px;
  line-height: 1.5em;
}

/* -----------EightBall Animations ----------------*/
@keyframes shake {
  10%, 90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-20px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(20px, 0, 0);
  }
}

@keyframes color_change {
	from { color: black; }
	to { color: white; }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
.color-change{
  animation-name: color_change;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;

}

.ulItems {
  width: 40%;
  height: auto;

}

li img {
  max-width: 275px;
  max-height: 275px;
  overflow: hidden;
  border-radius: 50%;
}

li img:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.name {
  font-size: 2em; 
}

#aboutus {
  font-family: 'Yatra One', cursive;
}