/* Body affecting styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
}

/* Header styling */
header {
  background-color: darkblue;
  color: whitesmoke;
  width: 960px;
  margin: 0px auto;
  padding-top: 5px;
  text-align: center;
}

nav {
  background-color: blue;
}

nav ul {
  list-style: none;
  text-align: left;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

ul a {
  color: whitesmoke;
}

/* Main element styling */
main {
  width: 960px;
  margin: 0px auto;
  text-align: center;
}

main ul {
  list-style: none;
}

main ul li {
  line-height: 1.5em;
}

.gameContainer {
  position: relative;
}

img {
  width: 400px;
  position: relative;
}

#question-remaining-section {
  position: absolute;
  top: 400px;
  left: 150px;
  float: left;
  max-width: 100px;
  margin: 0px auto;
  text-align: center;
}

#hateballResponse {
  position: absolute;
  top: 25%;
  left: 45%;
  word-wrap: break-word;
  width: 100px;
}

#userQuestion {
  margin: 20px 5px 0px 5px;
}

#submit {
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  background-color: darkblue;
  color: whitesmoke;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

/* Footer styling */
footer {
  width: 960px;
  margin: 0px auto;
  background-color: darkblue;
  padding: 10px 0px;
  text-align: center;
  color: whitesmoke;
}

/* Styling for Results page only */
fieldset {
  margin: 10px;
}

/* Styling for AboutUs page only */
.aboutUs {
  margin: 0px auto;
  padding: 0px;
}

#aboutUsParagraph {
  width: 800px;
  margin: 0px auto;
  margin-bottom: 20px;
  line-height: 1.5em;
}

/* -----------EightBall Animations ----------------*/
@keyframes shake {
  10%, 90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-20px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(20px, 0, 0);
  }
}

@keyframes color_change {
	from { color: black; }
	to { color: white; }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
.color-change{
  animation-name: color_change;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-direction: normal;
}